version: '3'
services:
  bootstrap:
    build: ./bootstrap
    ports:
      - "5000:5000"
    links:
      - redis
  enqueue:
    build: ./enqueue
    volumes:
      - ./data/drop:/var/work
    links:
      - redis
  process:
    build: ./process
    volumes:
      - ./data/drop:/var/work
    links:
      - mqapi
      - elasticsearch
  mqapi:
    build: ./mq-api
    links:
      - redis
    #ports: 8101
  redis:
    image: redis:alpine
    environment:
      LOGSPOUT: ignore
    ports:
      - "63799:6379"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.2.4
    ports:
      - "9200:9200"
    volumes:
      - ./data/es:/usr/share/elasticsearch/data
  kibana:
    image: docker.elastic.co/kibana/kibana:6.2.4
    environment:
      LOGSPOUT: ignore
    ports:
      - "5601:5601"
  logspout:
    build: ./logspout
    environment:
      ROUTE_URIS: logstash://logstash:5001
      # ROUTE_URIS: file://filename.log
      LOGSPOUT: ignore
    links:
      - logstash
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/logs:/var/log
  logstash:
    image: docker.elastic.co/logstash/logstash:6.2.4
    environment:
      LOGSPOUT: ignore
    volumes:
      # - ./logstash/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ./logstash/:/usr/share/logstash/pipeline/