version: '3'
services:
  bootstrap:
    build: ./bootstrap
    ports:
      - "5000:5000"
    links:
      - redis
  enqueue:
    build: ./enqueue
    volumes:
      - ./data/drop:/var/work
    links:
      - redis
  process:
    build: ./process
    volumes:
      - ./data/drop:/var/work
    links:
      - mqapi
      - elasticsearch
  mqapi:
    build: ./mq-api
    links:
      - redis
    #ports: 8101
  redis:
    image: redis:alpine
    ports:
      - "63799:6379"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.2.4
    ports:
      - "9200:9200"
  kibana:
    image: docker.elastic.co/kibana/kibana:6.2.4
    ports:
      - "5601:5601"